body{
font-family: Arial, sans-serif;
background:#f4f6f9;
padding:20px;
}

.container{
max-width:1000px;
margin:auto;
}

.card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,.1);
}

h1,h2{
margin-top:0;
}

input,select{
width:100%;
padding:10px;
margin:8px 0;
box-sizing:border-box;
}

button{
padding:10px;
border:none;
cursor:pointer;
font-weight:bold;
}

#btnGuardar{
width:100%;
background:#0066cc;
color:white;
}

.btn-editar{
background:orange;
color:white;
margin-right:5px;
}

.btn-eliminar{
background:red;
color:white;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:10px;
}

th{
background:#0066cc;
color:white;
}